body {
	padding: 10px;
}

.single-loc-container {
	position: relative;
}

.single-loc-container h1 {
	font-size: 50px;
}

.single-loc-container .centered {
	height: 250px;
	margin: auto;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}

.single-loc-container .custom-legend {
	width: 150px;
	margin: 0 auto;
}

.single-loc-container .custom-legend div.item {
	white-space: nowrap;
}

.single-loc-container .custom-legend span.marker {
	display: inline-block;
	width: 20px;
	height: 20px;
	border-radius: 5px
}

.single-loc-container .custom-legend span.text {
	font-size: 25px;
}

.multi-container .parcoords {
	width: 780px;
	height: 580px;
}

.parcoords > svg .label{
	font: 34px sans-serif;
}

.parcoords > svg .tick{
	font: 26px sans-serif;
}