*~
/_qt-creator-build
/.project
_build
_install
qtcreator-build
CMakeLists.txt.user
CMakeLists.txt.user.*
qtcreator-build
_qt-creator-build
include/report-include.txt
src/report-src.txt
resources/*
3zxtd3z3.yn1.txt
byjp515v.0s5.txt
ksksz52f.yb5.txt
/.gitignore

